@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

// theme base preparation
@import "fonts";
@import "normalize";
@import "reset";
@import "code";

// variable overrides
$theme-color: {{ default "#000000" .Site.Params.themeColor }};
$theme-inverse-color: {{ default "#ffffff" .Site.Params.themeInverseColor }};

// theme styles
@import "variables";
@import "typography";
@import "global";
@import "language";
@import "header";
@import "navigation";
@import "publish";
@import "footer";
@import "svg";
@import "license";
@import "taxonomy";
@import "pagination";
@import "curriculum";

table.opening-times {
    width: 100%;

    td {
        padding: 0 1em;
        width: 50%;

        &.left {
            text-align: left
        }

        &.right {
            text-align: right
        }
    }
}